.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__logo {
    height:22px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width:40%;
}

.header__input > input {
    flex:1;
    
}

.header__icons {
    display: flex;
    align-items: center;
}